{% extends 'blog/base.html' %}

{% block content_about_us %}
<div class="container-fluid bg-grey">
  <div class="row">
    <!-- Εικόνα στα αριστερά -->
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-certificate logo slideanim"></span>
    </div>

    <!-- Κείμενο στα δεξιά -->
    <div class="col-sm-8 text-left">
      <h2 class="text-uppercase">Η ΠΟΙΟΤΗΤΑ ΜΑΣ</h2>
      <p>
        H ποιότητα είναι στο DNA μας και δεν χωράει κανένας συμβιβασμός. Η προσοχή στη λεπτομέρεια σε κάθε στάδιο, από τον σχεδιασμό,
        τη διαδικασία παραγωγής έως και τη διάθεση και ασφάλεια των προϊόντων μας, καθώς επίσης και οι εξαιρετικά αυστηρές και εκτενείς
        διαδικασίες ελέγχων ποιότητας που διεξάγουμε, κάνουν το Brand να είναι ταυτόσημο της ποιότητας και της αξιοπιστίας και να θεωρείται
        το «Gold Standard» στα συμπληρώματα διατροφής.
      </p>

      <h4><strong>Τα βασικά μας πλεονεκτήματα:</strong></h4>
      <ul class="list-unstyled">
        <li>Επιστημονικά μελετημένες φόρμουλες</li>
        <li>Ανώτερης ποιότητας πρώτες ύλες</li>
        <li>Αποφυγή χρήσης συντηρητικών και τεχνητών χρωμάτων ή αρωμάτων</li>
        <li>Παραγωγή σε μικρές παρτίδες, με όλα τα προϊόντα να υπόκεινται σε αυστηρό ποιοτικό έλεγχο</li>
        <li>Υψηλά πρότυπα ποιότητας, βάσει της πιστοποίησης Καλών Πρακτικών Παραγωγής</li>
        <li>Ανακυκλώσιμα κεχριμπαρένια γυάλινα μπουκάλια</li>
      </ul>

      <h3>Επικοινωνήστε μαζί μας</h3>
      <p>Αν έχετε απορίες, μπορείτε να επικοινωνήσετε μαζί μας μέσω email στο <strong>info@healthyliving.gr</strong>.</p>

      <a href="http://localhost:8000" class="btn btn-primary">Επιστροφή στην Αρχική</a>
    </div>
  </div>
</div>
{% endblock %}
