{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Healthy Living</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/superfoods.css' %}"/>


</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:8000">SuperFoods</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT US</a></li>
        <li><a href="#services">PRODUCTS</a></li>
        <li><a href="#portfolio">RECOMMENDED</a></li>
        <li><a href="#pricing">SHOP</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Healthy Living</h1>
  <p>We specialize in superfoods</p>
  <form>
    <div class="input-group">
      <form type="get" action="/">

         <input type="text" name="txt" class="form-control" size="50" placeholder="Search..." >
         <div class="input-group-btn">

            <input type="submit" value="Submit" class="btn btn-danger">
         </div>
      </form>

      </div>

  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>ΛΙΓΑ ΛΟΓΙΑ ΓΙΑ ΕΜΑΣ</h2><br>
      <h4>Η HEALTHY LIVING δημιουργήθηκε με σκοπό την ανάπτυξη και τη διάθεση προϊόντων υγιεινής διατροφής και συμπληρωμάτων διατροφής.
		Είμαστε μια 100% ελληνική εταιρεία και έχουμε ως στόχο και βασική αρχή, τη δημιουργία και την παροχή ποιοτικών, ασφαλών και ωφέλιμων για την υγεία συμπληρωμάτων διατροφής και ειδών υγιεινής διατροφής, τα οποία μπορούν να βελτιώσουν την ποιότητα ζωής των καταναλωτών.</h4>

    </div>

	<div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>ΟΙ ΑΞΙΕΣ ΜΑΣ...</h2>

      <h4><strong>Βασικές αξίες που μας καθοδηγούν:</strong></h4>
        <ul>
            <li><strong>Σεβασμός</strong> στον καταναλωτή</li>
            <li><strong>Άριστη εξυπηρέτηση</strong> και κάλυψη των αναγκών του</li>
            <li><strong>Ανάπτυξη καινοτόμων προϊόντων</strong> που ανταποκρίνονται στις απαιτήσεις της υγιεινής διατροφής</li>
            <li><strong>Συνεχής βελτίωση</strong> της ποιότητας των προϊόντων μας</li>
            <li><strong>Δέσμευση</strong> στην προστασία του περιβάλλοντος</li>
            <li><strong>Σχέσεις εμπιστοσύνης</strong> με συνεργάτες και προμηθευτές</li>
            <li><strong>Εντιμότητα και διαφάνεια</strong> απέναντι σε καταναλωτές, εργαζόμενους και συνεργάτες</li>
        </ul>
    </div>
  </div>

<h4><strong>Όραμά μας:</strong></h4>
<p>Να καταξιωθεί η <strong>HEALTHY LIVING</strong> ως η πιο αξιόπιστη επιλογή στην ελληνική αγορά στον τομέα των προϊόντων υγιεινής διατροφής και συμπληρωμάτων
    και παράλληλα, να επεκτείνουμε τη δυναμική μας παρουσία στο εξωτερικό.</p>

    </div>



<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">

    {% block content %}

    {% endblock %}

</div>



<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>ΠΡΟΤΕΙΝΟΜΕΝΑ</h2><br>
  <h4>Τι επιλέγουν συνήθως οι πελάτες μας...</h4>

  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in recommended_images %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for image in recommended_images %}
        {% if forloop.counter0|divisibleby:3 %} <!-- Νέο Slide κάθε 3 εικόνες -->
        <div class="item {% if forloop.first %}active{% endif %}">
            <div class="row">
        {% endif %}

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="/media/recommend/{{ image }}" class="img-responsive product-image-small" alt="Recommended Image">
                    </div>
                </div>

        {% if forloop.counter|divisibleby:3 or forloop.last %} <!-- Κλείσιμο του Slide -->
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<p>🔍 DEBUG: {{ recommended_images }}</p>




<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Shopping...</h2>
    <h4>Προσφορές και όχι μόνο...</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Eπικοινωνήστε μαζί μας...</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Serres, GR</p>
      <p><span class="glyphicon glyphicon-phone"></span> +30 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> info@healthyliving.gr</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>
      &copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    Healthy Living
</p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
