{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid text-center">
    <h2>ΠΡΟΪΟΝΤΑ</h2>
    <h4>Οι κατηγορίες μας...</h4>
    <br>

    <!-- Κατηγορίες (6 κατηγορίες εμφανίζονται σωστά) -->
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <a href="{% url 'post_list' %}?cat=2#services"><h4>Φυτικά Συμπληρώματα</h4></a>

        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <a href="{% url 'post_list' %}?cat=4#services"><h4>Λιπαρά Οξέα</h4></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-star logo-small"></span>
            <a href="{% url 'post_list' %}?cat=1#services"><h4>Βιταμίνες</h4></a>
        </div>
    </div>

    <br>

    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-flash logo-small"></span>
            <a href="{% url 'post_list' %}?cat=5#services"><h4>Πρωτεΐνες</h4></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <a href="{% url 'post_list' %}?cat=3#services"><h4>Μέταλλα</h4></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-magnet logo-small"></span>
            <a href="{% url 'post_list' %}?cat=6#services"><h4>Αμινοξέα</h4></a>
        </div>
    </div>

    <br>

    <!-- Λίστα Προϊόντων (3 προϊόντα ανά σειρά) -->
    <div id="services" class="container-fluid text-center">
        <h2>Όλα τα Προϊόντα</h2>

        <div class="row">
            {% for product in products %}
                {% if forloop.counter0|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
                <div class="col-md-4">
                    <div class="thumbnail product-box">
                        <img src="{{ product.image.url }}" class="img-responsive product-image-small" alt="{{ product.title }}">
                        <div class="caption">
                            <h5>
                                <a href="{% url 'post_detail' pk=product.pk %}" class="product-title">
                                    {{ product.title }}
                                </a>
                            </h5>
                            <h5 class="product-price">
                                <span class="glyphicon glyphicon-euro"></span> {{ product.price }}
                            </h5>
                            {% if product.category %}
                            <h5>
                                <span class="label label-warning">
                                    <a href="{% url 'post_list' %}?cat={{ product.category.id }}" class="category-link">
                                        {{ product.category }}
                                    </a>
                                </span>
                            </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Δεν βρέθηκαν προϊόντα.</p>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

{% block content_suppliers %}
    <div id="suppliers" class="container-fluid text-center">
        <h2>Οι εταιρείες...</h2>
        <div class="row">
           {% for supplier in suppliers %}
                <div class="col-md-4">
                    <div class="thumbnail product-box">
                        {% if supplier.image_m %}
                            <img src="{{ supplier.image_m.url }}" class="img-responsive product-image-small" alt="{{ supplier.title_m }}">
                        {% endif %}
                        <div class="caption">
                            <h5>
                                <a href="{% url 'manufacturer_products' manufacturer_id=supplier.pk %}" class="product-title">
                                    {{ supplier.title_m }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

<!-- Container (Pricing Section - Προσφορές) -->
{% block content_Pricing %}

<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Προσφορές και όχι μόνο...</h2>
    <h4>Δες μερικά από τα προϊόντα μας!</h4>
  </div>

  <div class="row slideanim">
    {% for product in random_products %}
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>{{ product.title }}</h2>
        </div>
        <div class="panel-body">
          {% if product.image %}
            <img src="{{ product.image.url }}" class="img-responsive product-image-small" alt="{{ product.title }}">
          {% endif %}
          <p>{{ product.description|truncatewords:20 }}</p>
        </div>
        <div class="panel-footer">
          <h3><span class="glyphicon glyphicon-euro"></span> {{ product.price }}</h3>
          <a href="{% url 'post_detail' pk=product.pk %}" class="btn btn-lg btn-success">Αγορά</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block content_carousel %}

    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for product in random_carousel_products|slice:":3" %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for product in random_carousel_products %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <div class="row">
            {% endif %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-responsive">
                                {% endif %}
                                <p>
                                    <a href="{% url 'post_detail' pk=product.pk %}">
                                        <h5>{{ product.title }}</h5>
                                    </a>
                                </p>
                            </div>
                        </div>
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



{% endblock %}