{% extends 'blog/base.html' %}

{% block content %}
<div class="container product-container">
    <div class="row align-items-center">
        <!-- Εικόνα προϊόντος -->
        <div class="col-md-5 text-center">
            {% if products_detail.image %}
                <img src="{{ products_detail.image.url }}" class="img-responsive product-image" alt="{{ products_detail.title }}">
            {% endif %}
        </div>

        <!-- Λεπτομέρειες προϊόντος -->
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="product-title text-uppercase">{{ products_detail.title }}</h2>

            {% if products_detail.manufacturer %}
                <h5>
                    Κατασκευαστής:
                    <a href="{% url 'manufacturer_products' manufacturer_id=products_detail.manufacturer.pk %}" class="manufacturer-link">
                        {{ products_detail.manufacturer.title_m }}
                    </a>
                </h5>
            {% endif %}

            <h4 class="product-price">
                <span class="glyphicon glyphicon-euro"></span> {{ products_detail.price }}
            </h4>

            <p class="product-description">
                {{ products_detail.description|linebreaksbr }}
            </p>

            <button class="btn btn-primary btn-lg product-button">Προσθήκη στο καλάθι</button>
        </div>
    </div>
</div>

<!-- Προβολή όλων των προιόντων του ίδιου κατασκευαστή -->
{% if products_detail.manufacturer %}
    <div class="container related-products">
        <h3>Περισσότερα προϊόντα από τον κατασκευαστή {{ products_detail.manufacturer.title_m }}</h3>
        <div class="row">
            {% for product in products_detail.manufacturer.products_set.all %}
                <div class="col-md-4">
                    <div class="thumbnail product-box">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-responsive product-image-small" alt="{{ product.title }}">
                        {% endif %}
                        <div class="caption">
                            <h5>
                                <a href="{% url 'post_detail' pk=product.pk %}" class="product-title">
                                    {{ product.title }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
