{% extends 'blog/base.html' %}

{% block content %}
<div class="container product-container">
    <div class="row align-items-center">
        <!-- Εικόνα προϊόντος -->
        <div class="col-md-5 text-center">
            {% if products_detail.image %}
                <img src="{{ products_detail.image.url }}" class="img-responsive product-image" alt="{{ products_detail.title }}">
            {% endif %}
        </div>

        <!-- Λεπτομέρειες προϊόντος -->
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="product-title text-uppercase">{{ products_detail.title }}</h2>

            {% if products_detail.category %}
                <h5>
                    <span class="label label-warning product-category">
                        <a href="{% url 'post_list' %}?cat={{ products_detail.category.id }}" class="category-link">
                            {{ products_detail.category }}
                        </a>
                    </span>
                </h5>
            {% endif %}

            <h4 class="product-price">
                <span class="glyphicon glyphicon-euro"></span> {{ products_detail.price }}
            </h4>

            <p class="product-description">
                {{ products_detail.description|linebreaksbr }}
            </p>

            <button class="btn btn-primary btn-lg product-button">Προσθήκη στο καλάθι</button>
        </div>
    </div>
</div>
{% endblock content %}
